.floating-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1000; 
}

.floating-buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px; 
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    font-size: 18px; 
}

.floating-buttons i {
    margin-right: 10px;
    font-size: 20px; 
}

.floating-buttons .btn.ligar {
    background-color: #006400	;
}

.floating-buttons .btn.whatsapp {
    background-color: #a5007e; 
}

.floating-buttons .btn:hover {
    background-color: rgb(0, 68, 28);
}

.floating-buttons i {
    margin-right: 8px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .floating-buttons {
        flex-direction: column;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}

