@keyframes piscar {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.btn-agendar {
    background-color: #FA8112;
    color: white;
    padding: 20px 28px; /* Aumenta o espaçamento interno do botão */
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; /* Aumenta o tamanho do texto */
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-decoration: none;
    animation: piscar 2s infinite; /* Adiciona a animação de piscar */
}

.btn-agendar:hover {
    background-color: #FA8112;
    color: white;
}

p {
    font-size: 24px;
    color: #333; /* Pode ajustar conforme a paleta de cores do site */
    margin-bottom: 10px;
}
